
body{
    font-family: 'Roboto', sans-serif;
}

.header-controls span.ui-select-toggle {
    padding-right: 2em;
}

#book-display-container {
    a{
        color: #333;
        &:hover{
            text-decoration: none;
        }
    }
    .book{
        border: 1px solid gray;
        padding: 1em;
        margin: 1em 0;
        border-radius: 10px;
        overflow: hidden;
        
        img {
            width: 100%;
        }
        
        .title{
            font-weight: 600;
            padding-top: 1em;
        }
        
        .title, .author{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;            
        }
        
        .book-footer{
            padding-top: 1em;
        }
        
        .glyphicon{
            margin-right: 0.2em;
        }
        
        &:hover{
            background: #e0e5f0;
        }
    }    
}

#book-details-container{
    
    h1{
        font-size: 24px;
        font-weight: 600;
    }
    .book-author{
        font-size: 18px;
    }
    h2{
        font-size: 16px;
        font-weight: 600;
    }
    .centered{
        text-align: center;
    }
    
    .book-header, .recommendations{
        padding: 1em;
    }
    .book-body{
        padding: 1em;
        background-color: #f6f6f6;
        
        .introduction::first-line{
            font-weight: 600;
            font-size: 18px;
        }
        
        p{
            padding: 0.5em 0;
        }
        
        hr{
            border-top: 1px solid #333;
            margin-left: 35%;
            margin-right: 35%;
        }
        
        img.avatar{
            display:block;
            margin-left:auto;
            margin-right:auto;
        }
        
        .signature{
            text-align: center;
            font-size: 18px;
            padding-top: 0.5em;
            padding-bottom: 1.5em;
        }
    }
    
}